/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1440px;

// Colors vars
:root {
  --black: rgba(0, 0, 0, 1);
  --black-3: rgba(3, 0, 0, 1);
  --black-2: rgba(7, 0, 0, 1);
  --bay-of-many: rgba(38, 59, 132, 1);
  --hawkes-blue: rgba(215, 226, 252, 1);
  --mercury: rgba(227, 227, 227, 1);
  --whisper: rgba(244, 246, 249, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxs: 12px;
  --font-size-xs: 15px;
  --font-size-s: 20px;
  --font-size-m: 30px;
  --font-size-l: 36px;
  --font-size-xl: 40px;
  --font-size-xxl: 64px;

  --font-family-futura-bold: "Futura-Bold";
  --font-family-futura-medium: "Futura-Medium";
  --font-family-inter: "Inter";
  --font-family-lato: "Lato";
  --font-family-morrissansw01-medium-regular: "MorrisSansW01-Medium-Regular";
}

.lato-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.inter-bold-black-64px-2 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.morrissansw01-medium-regular-normal-black-96px {
  color: var(--black);
  font-family: var(--font-family-morrissansw01-medium-regular);
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
}
.morrissansw01-medium-regular-normal-whisper-15px {
  color: var(--whisper);
  font-family: var(--font-family-morrissansw01-medium-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}
.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  font-style: normal;
}
.inter-medium-black-15px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
}
.futura-medium-black-24px {
  color: var(--black-2);
  font-family: var(--font-family-futura-medium);
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}
.lato-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-weight: 700;
  font-style: normal;
}
.lato-semi-bold-black-40px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-style: normal;
}
.morrissansw01-medium-regular-normal-whisper-40px {
  color: var(--whisper);
  font-family: var(--font-family-morrissansw01-medium-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}
.inter-bold-black-64px {
  color: var(--black-3);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.inter-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}
.inter-medium-bay-of-many-15px {
  color: var(--bay-of-many);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
}
.inter-bold-white-64px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.morrissansw01-medium-regular-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-morrissansw01-medium-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}
.futura-bold-black-300px {
  color: var(--black);
  font-family: var(--font-family-futura-bold);
  font-size: 300px;
  font-weight: 700;
  font-style: normal;
}
.inter-normal-black-19px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
}
.lato-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-s);
  font-weight: 700;
  font-style: normal;
}
.futura-bold-black-24px {
  color: var(--black-2);
  font-family: var(--font-family-futura-bold);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
.futura-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-futura-bold);
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
.lato-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
