/* =============
    One step
============= */

#onestep {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    " toaster-text "
    " halfcircle "
    " toaster "
    " mini-toasters "
    " toaster-bubble ";
  grid-gap: 14px;
  padding-left: 14px;
  padding-right: 14px;
  justify-items: start;

  #toaster-text {
    grid-area: toaster-text;
  }
  #halfcircle {
    grid-area: halfcircle;
  }
  #toaster {
    grid-area: toaster;
  }
  #mini-toasters {
    grid-area: mini-toasters;
  }
  #toaster-bubble {
    grid-area: toaster-bubble;
  }

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      " toaster-text . "
      " halfcircle  . "
      " toaster toaster-bubble"
      " mini-toasters . ";
  }
}

.toaster-bubble {
  height: 100%;
  width: 100%;
}
