/* =============
    One step
============= */

#onestep {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    " toaster-text "
    " halfcircle "
    " toaster "
    " mini-toasters "
    " toaster-compare ";
  grid-gap: 14px;
  padding-left: 14px;
  padding-right: 14px;
  justify-items: start;

  @include md {
    grid-template-columns: 70%;
    grid-template-areas:
      " toaster-text . "
      " halfcircle  . "
      " toaster toaster-compare"
      " mini-toasters . ";
  }
}

#toaster-text {
  grid-area: toaster-text;
}
#halfcircle {
  grid-area: halfcircle;
}
#toaster {
  grid-area: toaster;
}
#mini-toasters {
  grid-area: mini-toasters;
}
#toaster-compare {
  grid-area: toaster-compare;
}

.toaster-compare {
  height: 100%;
  width: 100%;
}
