/* =============
    thankyou
============= */

#thankyou {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "thankyoutitle"
    "toasters"
    "toaster1 toaster2"
    "toaster1text toaster2text"
    "review"
    "writereview"
    "submit";
  grid-gap: 14px;
  padding: 14px;
  justify-items: center;
  align-items: center;
  height: 100vh; /* Set height to 100% viewport height */
}

@media (min-width: 480px) {
  #thankyou {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "thankyoutitle thankyoutitle"
      "toasters toasters"
      "toaster1 toaster2"
      "toaster1text toaster2text"
      "review review"
      "writereview writereview"
      "submit submit";
  }
}

@media (min-width: 768px) {
  #thankyou {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "thankyoutitle thankyoutitle thankyoutitle"
      "toaster1 . toaster2"
      "toaster1text toaster1text toaster2text"
      "review review review"
      "writereview writereview writereview"
      "submit submit submit";
  }
}

@media (min-width: 1024px) {
  #thankyou {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "thankyoutitle thankyoutitle thankyoutitle thankyoutitle"
      "toaster1 . . toaster2"
      "toaster1text toaster1text toaster2text toaster2text"
      "review review review review"
      "writereview writereview writereview writereview"
      "submit submit submit submit";
  }
}

#thankyoutitle {
  grid-area: thankyoutitle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#thankyoutitle h3 {
  margin: 0;
}

#toaster1 {
  grid-area: toaster1;
  text-align: center;
}

#toaster2 {
  grid-area: toaster2;
  text-align: center;
}

#yourorder {
  grid-area: yourorder;
  text-align: center;
}

#toaster1text {
  grid-area: toaster1text;
  text-align: center;
}

#toaster2text {
  grid-area: toaster2text;
  text-align: center;
}

#review {
  grid-area: review;
  display: flex;
  justify-content: center;
  align-items: center;
}

#writereview {
  grid-area: writereview;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit {
  grid-area: submit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thankyou {
  height: 100%;
  width: 100%;
  grid-gap: 14px;
  padding-left: 14px;
  padding-right: 14px;
  justify-items: start;
}
