/* =============
    Header
============= */

header {
  #logo-nav {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". logo-nav .";
    img {
      width: 100%;
    }

    > div {
      background-color: #ffff;
      grid-area: logo-nav;
    }
  }

  #form-content {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    padding: 16px 0;

    @include md {
      padding: 24px 0;
    }
    @include xxl {
      grid-template-columns: auto 1200px auto;
    }

    > div {
      background-color: #ffff;
      grid-area: search;

      form {
        display: flex;
        input {
          border: none;
          border-bottom: 1px solid var(--barbiepink);
          width: 100%;
          border-radius: 0%;
          margin-right: 8px;
        }
        button {
          border: none;
          background-color: var(--barbiepink);
          border-radius: 5px;
          padding: 12px 16px;
        }
      }
    }
  }
}
