#checkoutfinal {
  #checkout {
    max-width: 1440px;
    max-height: 1100px;
    margin: auto;
    height: 100vh;
    box-sizing: border-box;

    #receipt {
      display: none;
    }
    @include md {
      display: flex;
      min-height: 1000px;
      flex-direction: row;
      align-items: stretch;
      padding: 72px 155px 78px;

      #shipping {
        display: inline;
      }
    }
  }
}
