/* =============
    Thank you
============= */

#colonne1 {
  margin-top: 40px;
  position: relative;
  padding: 16px;
  padding-bottom: 90px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md {
    padding: 48px 60px 35px 60px;
    width: 50%;
    height: auto;
    box-sizing: border-box;
  }

  .checkouttimeline {
    padding: 9px 16px;
    width: 163px;
    display: flex;
    justify-content: center;
  }
  .bluetoaster {
    grid-area: bluetoaster;
    align-items: center;
  }

  .rosetoaster {
    grid-area: rosetoaster;
    align-items: center;
  }
  .info1 {
    grid-area: info1;
  }
  .info2 {
    grid-area: info2;
    align-items: center;
  }

  .continueshopping {
    grid-area: continueshopping;
    align-items: center;
  }
}
