/* =============
    Thank you
============= */

#colonne1 {
  margin-top: 40px;
  position: relative;
  padding: 16px;
  padding-bottom: 90px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md {
    padding: 48px 64px 32px 64px;
    width: 50%;
    height: auto;
    border: 1px solid var(--Black);
    box-sizing: border-box;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    " checkouttimeline "
    " bluetoaster"
    "info1"
    "rosetoaster"
    "info2"
    "continueshopping";

  grid-gap: 14px;
  padding-left: 14px;
  padding-right: 14px;
  justify-items: start;
  align-items: center;

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      " checkouttimeline ."
      " bluetoaster info1 promocode ";
  }

  .checkouttimeline {
    grid-area: checkoutimeline;
  }
  .bluetoaster {
    grid-area: bluetoaster;
    align-items: center;
  }

  .rosetoaster {
    grid-area: rosetoaster;
    align-items: center;
  }
  .info1 {
    grid-area: info1;
  }
  .info2 {
    grid-area: info2;
    align-items: center;
  }

  .continueshopping {
    grid-area: continueshopping;
    align-items: center;
  }
}
