#receipt {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "promocode"
    "entercode"
    "enter"
    "detail"
    "placeorder";
}

.promocode {
  grid-area: promocode;
  align-items: center;
}
.entercode {
  grid-area: entercode;
}
.enter {
  grid-area: enter;
  align-items: center;
}

.detail {
  grid-area: detail;
  align-items: center;
}

.placeorder {
  grid-area: placeorder;
}
